// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/foundation-global";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/top-bar";
@import "foundation/components/clearing";
@import "foundation/components/inline-lists";
@import "foundation/components/panels";
@import "foundation/components/tables";
@import "foundation/components/alert-boxes";
@import "foundation/components/pricing-tables";

@import "nivo-slider";
@import "light";

//Mixins
@import "compass";
@import "compass/css3/background-size";
@import "compass/css3/border-radius";

//@import url(http://font.googleapis.com/css/css?family=Open+Sans:400italic,400,700);
@font-face {
	font-family: 'OpenSansBold';
	src: url('http://d273hpf43uclu5.cloudfront.net/fonts/OpenSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('http://d273hpf43uclu5.cloudfront.net/fonts/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('http://d273hpf43uclu5.cloudfront.net/fonts/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

.o400 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.o400i {
	font-family: 'OpenSansItalic', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.o700 {
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 700;
	font-style: normal;
}

strong {
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 700;
	font-style: normal;
}

em {
	font-family: 'OpenSansItalic', sans-serif;
	font-weight: 400;
	font-style: italic;
}

$color-highlight: #FF6700;
$color-strong: #4380D3;
$color-emphasis: #0F4FA8;
$color-background: white;
$color-shadow: #888888;
$color-map-background: #F2F2F2;
$color-text-shadow: #333;
$color-footer: white;
$color-map-border: #D9D9D9;

html {
	background: white;
	background: url('http://d273hpf43uclu5.cloudfront.net/flydogfitness/park.jpg') no-repeat center center fixed;
}

header {
	h2{
		margin: emCalc(10px);
	}
}

footer {
	background-color: $primary-color;
	min-height: emCalc(95px);
	padding: (10px);
	h5{
		color:$color-footer;
	}
	p {
		color: $color-footer;
	}
}

h1{
	color: $color-highlight;
	text-shadow: $color-text-shadow 0.05em 0.05em 0.1em;
}

h2{
	color: $color-emphasis;
}
h3{
	color: $color-strong;
}
strong{
	color: $color-strong;
}

a{
	color: $color-highlight;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}

nav {
	margin-bottom: emCalc(10px);
	a {
		&:hover {
			text-decoration:none;
		}
	}
}


input[type=checkbox] {
	margin: emCalc(5px);
}

select{
	margin: emCalc(10px) 0;
}

table {
	margin: emCalc(20px) auto;
	width: 100%;
}

th, td, tr
	{
		border: emCalc(1px) solid $color-strong;
	}

td {
	text-align:center;
}

hr{
	border: 0;
	height: emCalc(1px);
	@include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)));
}

.alert-box
{
	text-align: center;
	.large{
		font-size: $h4-font-size;
	}
	p{
		margin-bottom: 0;
	}
	a{
		color: white;
	}
	h4{
		color: white;
	}

} 

.highlight-alert {
	color: $alert-color;
	padding-right: 0;
}

.no-left-pad{
	padding-left: 0;
}

.green{
	background: $success-color;
	color: $body-font-color;
	border-color: darken($success-color, 5%);
}
.center {
	margin: emCalc(10px) auto;
	display:block;
}


.top-bar-section ul li.active a {
	background: darken($topbar-bg, 10%);
}

.top-bar-section li a:not(.button):hover {
    background: darken($topbar-bg, 15%);
  }

//Nivo Slider
.nivoSlider {
    position:relative;
    background:url(../img/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
.nivo-directionNav{
	margin-bottom: emCalc(30px);
}

.slider-wrapper {
	max-width: emCalc(450px);
	margin: emCalc(10px) auto;
	display: block;
}

.map {
	border-style: solid;
  	border-width: emCalc(1px);
  	border-color: $color-map-border;
  	margin-bottom: 1.25em;
  	padding: 1.25em;
  	background: $color-map-background;
  	a h3:hover{
  		text-decoration:underline;
  	}
	img {
		margin: emCalc(10px) auto;
		display: block;
		&:hover{
			opacity: 0.8;
			@include single-box-shadow; 
		}
	}
}

.session {
	color: $color-strong;
	font-weight:bold;
}

.highlight {
	color: $color-strong;
	font-weight:bold;
}

.bingeltech {
	p{
		margin-bottom:0;
	}
	img {
		//vertical-align:middle;
		width: 106px;
		height: 35px;
		&:hover{
			opacity:0.4;
		}
	}
}


.sprite {
	height: 45px;
	padding:0;
	img{
		padding: emCalc(5px) 0;
	}
}

.events {
	ul{
		margin-left: 1em;
		list-style: square;
	}
}
.profile {

	ul{
		margin-left: 1em;
		margin-bottom: .75em;
	}

	img {
	width: 200px;
	height: 200px;
	box-shadow: emCalc(5px) emCalc(5px) emCalc(2px) $color-shadow;	
	margin-bottom: emCalc(30px);
	}
}

.communitypic{
	box-shadow: emCalc(5px) emCalc(5px) emCalc(2px) $color-shadow;
}

//Contact Info
.contact-info li {
	padding: emCalc(10px) emCalc(40px);
	list-style: none; 
	margin-top: emCalc(5px);
	a {
		padding: emCalc(5px);
		text-decoration: none;
		color: $color-emphasis;
	}
}

.contact-email{background: url(http://d273hpf43uclu5.cloudfront.net/flydogfitness/envelope.gif) no-repeat left;}
.contact-phone {background:url(http://d273hpf43uclu5.cloudfront.net/flydogfitness/tel.gif) no-repeat left;}
.contact-facebook {background: url(http://d273hpf43uclu5.cloudfront.net/flydogfitness/facebook.gif) no-repeat left;}
.contact-twitter {background:url(http://d273hpf43uclu5.cloudfront.net/flydogfitness/twitter.gif) no-repeat left;}

//Ids
#wrapper {
	background-color: $color-background;
}

//Media Queries
@media #{$small} {
	#wrapper {
		max-width: 960px;
		margin: emCalc(60px) auto;
		@include border-radius(5px);
	}
	footer{
		@include border-bottom-radius(5px);
	}
}

@media only screen and (max-width: #{$small-screen}) {
	table tr th,
	table tr td {
	 	padding: 0.28em 0.31em;
	}

	.map{
		text-align:center;
	}
	.profile {
		h2, h3 {
			text-align: center;
		}
		img{
			display:block;
			text-align:center;
			margin: emCalc(10px) auto;
		}
	}
}

@media #{$medium}
{
	html {
	background: url('http://d273hpf43uclu5.cloudfront.net/flydogfitness/park.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
}



